@{
    ViewBag.Title = "About";
}




<!--
<section class="page">
    <h1 class="text-primary">Monsieur Pigeon</h1>
    <ul class="accordion">
        <li>
            <button class="accordion-control">Classics</button>
            <div class="accordion-panel">
                <p>If you like your flavors traditional, Monsieur Pigeon's classic marshmallows won't disappoint. With luxuriously <strong>Velvety Vanilla</strong>, <strong>Charming Chocolate</strong>, and <strong>Sumptuous Strawberry</strong>, the favorites you love are treated with the respect and dignity they deserve!</p>
            </div>
        </li>
        <li>
            <button class="accordion-control">The Flower Series</button>
            <div class="accordion-panel">
                <p>Take your tastebuds for a gentle stroll through an English garden filled with Monsieur Pigeon's beautifully fragrant Flower Series marshmallows. With three sweetly floral options: <strong>Elderberry</strong>, <strong>Rose Petal</strong>, and <strong>Chrysanthemum</strong> - all edible and all naturally flavored - they will have you dreaming of butterflies and birdsong in no time.</p>
            </div>
        </li>
        <li>
            <button class="accordion-control">Salt o' The Sea</button>
            <div class="accordion-panel">
                <p>Ahoy! If you long for a taste of organic sea salt mixed in with your sweet Monsieur Pigeon marshmallows, look no further than our Salt o' the Sea range. Featuring two delicious flavors: <strong>Salted Caramel</strong> and <strong>Cashew Butter</strong>, this sweetly salty duo will expand your taste horizons.</p>
            </div>
        </li>
    </ul>
</section>

-->


<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-body">
                <h3 class="text-primary bold text-center">Full Stack Experience</h3>
                <ul>
                    <li>Integration of Webservices SOAP into WordPress website using PayPal service plugin.</li>
                    <li>Common frameworks are LINQ, Angular, AJAX and jQuery where I have programmed the application to respond to HTTP requests through MVC with client-side code to deliver quick response and validation of requests.</li>
                    Website: Cool Biz Productions Built a client facing website that uses HTML and CSS stylesheets for increased layout appearance.</li>
                    <li>Integrated Angular and Bootstrap to give a more responsive website to enhance the design and usability.</li>
                    <li>Used ADO.NET technology to store and retrieve data from database.</li>
                    <li>Data objects were used to implement functionality between data resources and storage between databases.</li>
                    <li>
                        Helped with implementing database/data dictionary (Cable Television Programming Guide) designed stored procedures using PL/SQL language. This project was consistent with gathering all necessary data
                        tables and organizing them into data dictionary and then creating necessary PL/SQL queries to implement the usage of the tables form database for ability to trigger function queries from database
                        to receive appropriate data back from related tables in the database.
                    </li>
                    <li>Experienced working in Unix/Linux and Windows Operating system. And good knowledge of building queries against the Oracle, MySQL and various other databases.</li>
                    <li>Experience with all phases of SDLC in the Waterfall model and Agile SCRUM methodologies.</li>
                    <li>Solid experience in using Java Design Patterns and Unified Modeling Language (UML)</li>

                </ul>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
        </div>


        
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-body">
                <h3 class="text-center text-primary bold">Freelance Experience</h3>
                <ul>
                    <li>   Contributed in code development through testing, correcting errors, and refactoring in Visual Studio projects.</li>
                    <li>
                        Gained exposure to the use of ADO.NET technology, ASP.NET, SQL Connection and Data
                        Adapter, Data Reader, Data View, and Data Sets.
                    </li>
                    <li>
                        Technical Skills: Model View Controller (MVC) Angular 1/2, LINQ, SQL Server Management Studio,
                        JQuery, Bootstrap, AJAX and JSON. Entity Framework and ADO.NET.<br /> <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
                    </li>

                </ul>
               
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-body">
                <h3 class="text-center text-primary bold">
                    Front End Experience
                </h3>
                <ul>
                    <li>	Implemented and designed user interface for web-based customer application.</li>
                    <li>Designed UI with Bootstrap, jQuery, CSS and Razor View engine for external users to create applications</li>
                    <li>Implemented Web APIs and call using Ajax JSON</li>
                    <li>Involved in Agile methodology cycle and weekly meetings</li>
                    <li>
                        Used TFS and VSS version controlling, involved in requirements gathering, analyzing, designing and implementing various software using Core java, JEE, Spring,
                        Hibernate and various databases.
                    </li>
                    <li>Coordinated with the various upstream and downstream team members to meets software input and output requirements.
                    <li>Developed and implemented user interfaces as per latest W3C standards.</li>
                    <li>Developing the application using    AJAX, jQuery, JSON, HTML, JavaScript and CSS.</li>
                    <li>Developed client-side validations code using JavaScript and Angular JS.</li>
                </ul>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
</div>

