@{
    ViewBag.Title = "Home";
}


<!-- MAIN SECTION -->
<div class="intro">
    <div class="row text-center">
        <h2>


            Hello, I'm <b class="text-info" style="font-size: 40px;font-weight: lighter;">Andrew</b>, <br />a Full Stack and Front-End oriented developer based in Houston,
            TX. I enjoy everything from sketching to deployment, and I love building equally beautiful and useful websites.
        </h2>
        
    </div>
    <div class="row">
        
        
        <a href="MAILTO:andrew.coleman330@gmail.com" class="btn btn-primary btn-block" role="button" style="margin: 24px auto;width:310px;">Get in touch!</a>
       
    </div>


        <!-- CONTENT SECTION -->
        <div class="main-container mt-8">

            <div class="panel panel-primary">
                <div class="panel-heading">One of my Projects</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="~/assets/Images/images2.jpg" class="profile-image" alt="profile-image">
                                <div class="caption">

                                    <p>Find your ideal meals from breakfast to dessert with Cinch. By integrating Yelp and HTML5 geolocation your next perfect meal is just a click away.</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="~/assets/Images/images3.jpg" class="profile-image" alt="profile-image">
                                <div class="caption">

                                    <p>My Other Project is a Client Side application developed using Angular Javascript and jQuery to give useful presentation to the user, and demonstrate fluid responsiveness into website functionality..</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="~/assets/Images/images4.jpg" class="profile-image" alt="profile-image">
                                <div class="caption">

                                    <p>My Other Project is a Client Side application developed using Angular Javascript and jQuery to give useful presentation to the user, and demonstrate fluid responsiveness into website functionality..</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">Experience</div>
                <div class="panel-body">
                    <div class="row" style="font-size: 20px;">
                        <div class="col-md-6">
                            <div class="well well-lg">As a Full Stack and Front end Developer I worked closely with the project team managers to develop Content Management Systems. My contributions included creating a responsive website, CMS integration, and building a craigslist style job board.</div>
                        </div>
                        <div class="col-md-6">
                            <div class="well well-lg">As a developer I worked with developers, designers, help with CI/CD in software systems, update content, and develop cutting edge applications for business enterprise  .<br /><br /></div>
                        </div>
                        <div class="col-md-6">
                            <div class="well well-lg">As a freelancer I worked closely with the CEO and ui/ux designer to build the initial prototype for this start-up company. My contributions included creating a responsive website, CMS integration, and building a craigslist style job board.</div>
                        </div>
                        <div class="col-md-6">
                            <div class="well well-lg">As a front end developer I worked with developers, designers, and the marketing team to create HTML emails, update content, refactor existing code, and build the front end for current and new company websites.</div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- SKILLS SECTION
        <div class="container skills-section mb-5">
            <!-- <h4>Projects</h4>
        <div class="row mt-5 tech-logos">
            <!-- FIRST ROW
            <i class="devicon-html5-plain-wordmark colored"></i>
            <i class="devicon-css3-plain-wordmark colored"></i>
            <i class="devicon-javascript-plain colored"></i>
            <i class="devicon-jquery-plain-wordmark colored"></i>
            SECOND ROW
            <i class="devicon-react-original-wordmark colored"></i>
            <i class="devicon-rails-plain-wordmark colored"></i>
            <i class="devicon-nodejs-plain colored"></i>
            <i class="devicon-express-original colored"></i>
            THIRD ROW
            <i class="devicon-bootstrap-plain-wordmark colored"></i>
            <i class="devicon-git-plain colored"></i>
            <i class="devicon-heroku-plain-wordmark colored"></i>
            <i class="devicon-photoshop-line colored"></i>
        </div>row -->
        </div><!-- /container -->
    </div><!-- /main-container -->
<!-- BACK TO TOP -->
<a href="#" class="back-to-top"><i class="fas fa-chevron-circle-up fa-3x"></i></a>

<!-- MOBILE STICKY ABOUT -->
<div class="d-block d-sm-none">
    <div class="sticky-about">
        <i class="fas fa-user-circle fa-3x" data-toggle="modal" data-target="#aboutModal"></i>
    </div>
</div>

<!-- MODAL -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content about-modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="far fa-times-circle fa-2x"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <h4 class="modal-title mb-3" id="aboutModalLabel">About</h4>
                <p>Hello, I'm Andrew, a Front-End developer based in Houston, TX. I enjoy everything from sketching to deployment, and I love building equally beautiful and useful websites.</p>
            </div>
        </div>
    </div>
</div>

<!-- FOOTER SECTION -->
<div class="container">
    <footer class="page-footer">
        <hr>
        <div class="">
            <div class="row">
                <div class="col-md-6" style="padding-left: 0;">
                    <h6 class="mb-0">ANDREWCOLEMAN PORTFOLIO//</h6>
                </div>
                <div class="col-md-6 col-lg-7 text-center text-md-right">
                    <a href="https://github.com/Andrew112" target="_blank"><i class="fab fa-github-square fa-2x mr-lg-4"></i></a>
                    <a href="https://www.linkedin.com/in/andrewcoleman2" target="_blank"><i class="fab fa-linkedin fa-2x mr-lg-4"></i></a>
                    <a href="https://mail.google.com/mail/u/0/#inbox/andrew.coleman330@gmail.com"><i class="fas fa-envelope-square fa-2x mr-lg-4"></i></a>
                </div>
            </div>
        </div>
    </footer>
</div>
